// Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Variable
$primary-color: #63EEFF;
$secondary-color: #3F3D56;
$tertiary-color: #4b4a4a;
$text-color: #F2F2F2;

// Mixin
@mixin button{
    display: inline-block;
    color: $text-color;
    background-color: $secondary-color;
    border-radius: 2em;
    padding: .5em 2em;
    text-decoration: none;
}

// Styles
body {
    font-family: 'Montserrat', sans-serif;
    &::before {
        content: '';
        background-image: url('../img/landing-picture.png');
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 45vmax;
        opacity: 0.8;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        @media screen and (max-width: 992px){
            opacity: 0.4;
        }
    }
}

// Navbar
.custom-nav {
    .navbar-brand{
        img {
            width: 40px;
            height: 40px;
            margin-top: -5px;
        }
        span {
            color: $primary-color;
            font-weight: 700;
            font-size: 1.4rem;
            margin-left: 0.4em;
        }
    }

    #navbarNav {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $primary-color;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-left: 2.4em;
                    transition: all color 1s ease;

                    &:hover{
                        color: darken($primary-color, $amount: 50%);
                    }
                }
                .sign-up-button {
                    @include button;
                }
            }
        }
    }
    @media screen and (max-width: 576px){
        margin-top: -1.2em;
    }
}

// Custom Section
.custom-section{
    margin-top: 10em;
    h2 {
        font-weight: 700;
        font-size: 4rem;
        color: $primary-color;
        white-space: nowrap;
    }

    h3 {
        font-weight: 400;
        font-size: 3rem;
        color: $secondary-color;
        white-space: nowrap;
        line-height: 1;
    }

    p {
        color: $tertiary-color;
        font-weight: 400;
        font-size: 1.1rem;
        margin-top: 1.5em;
    }

    a {
        @include button;
        border: 1px solid transparent;
        transition: 1s ease;
        &:hover {
            color: $secondary-color;
            border: 1px solid $secondary-color;
            background-color: transparent;
        }
    }

    @media screen and (max-width: 992px) {
        margin-top: 3em;
        text-align: center;
        h2, h3, p {
            text-shadow: 1px 1px 1px rgba($color: $text-color, $alpha: 0.4);
        }
    }
}