// Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Variable
$primary-color: #63EEFF;
$secondary-color: #3F3D56;
$tertiary-color: #CACACA;
$text-color: #F2F2F2;

// Styles
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('../img/landing-picture.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 60vmax;
}